/* 
  Let's do the general styling here before we start doing the responsive views
 */

html,body { 
  background-color: #00FFFF;
  background-size: cover;
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}
#header {
  margin-left: 40px;
  margin-right: 40px;
  background-color: white;
  height: 100%;
}
#title {
  float: left;
  display: inline;
  padding-top: 90px;
  padding-bottom: 90px;
  padding-left: 230px;
  padding-right: 100px;
  text-align: center;
}
#adopt {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  color: #4167F5;
}
#initiative {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #2FB5E4;
}
#catdogpic {
  display: inline;      
}
#nav {
  margin-left: 40px;
  margin-right: 40px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #36bac9;
  text-align: justify;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
nav li {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
li a {
  color: black;
  padding: 20px 70px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
}
nav li a:hover:not(.active) {
    background-color: gray;
}
.active {
    background-color: #4CAF50;
}
#section {
  background-color: white;
  margin-left: 40px;
  margin-right: 40px;
  padding: 5px 80px;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
.sectionheading {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #4167F5;
}
.sectionbody {
  font-family: Arial, Helvetica, sans-serif;
}
#adminlogin {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
#loginform {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 40px;
}
.label {
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
}
#createpet {
  padding: 5px 10px;
  float: right;
  border: 4px solid black;
}
.pettypetable td {
  padding-top: 0px;
  padding-left: 13px;
  padding-right: 30px;
  padding-bottom: 0px;
}
.petimage {
  width: 270px;
  height: 270px;
}
.pettypedivbutton {
  padding: 5px;
}
#imgupload {
  width: 325px;
  margin-left: 250px;
  float: left;
}
#addpetform {
  float: right;
  margin-right: 250px;
}
.addpettable, .adoptiontable, td {
  padding: 8px 1px;
  font-family: Arial, Helvetica, sans-serif;
}
.addpetbutton {
  padding: 8px;
}
.viewpettable td {
  padding-left: 150px;
  padding-right: 0px;
}
.petprofinfo {
  float: right;
  margin-right: 30vw;
  font-family: Arial, Helvetica, sans-serif;
}
#adoptmebutton {
  padding: 10px;
  background-color: lightgoldenrodyellow
}
.editbuttons, .sendbutton {
  padding: 10px;
} 


/* 
  Kindly style the following class
  This classes can be used repeatedly especially in form inputs/fields
*/ 
a{

}

a:hover, a:active{

}

h2.sectionheading{

}

input[type="text"]{

}

input[type="submit"]{

}

div.msg-success{

}

div.msg-error{

}

div.msg-result{

}

table{

}

table thead th{

}

table tbody tr td{

}



@media only screen and (min-width: 0px) {

}

